@media (max-width: 768px) {
  .hero {
    padding: 60px 20px;
  }
   .hero-image img {
    margin: 0 auto;
  }
  .nav-links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    display: none;
    padding: 20px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-actions {
    display: none;
  }
   .collection-container {
    grid-template-columns: 1fr;
  }

  .collection-image {
    order: -1;
  }

  .collection-content h2 {
    font-size: 26px;
  }
  .comparison h2 {
    font-size: 26px;
  }

  .comparison-table {
    min-width: 700px;
  }
  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-links {
    gap: 30px;
    flex-wrap: wrap;
  }

  .newsletter-form {
    flex-direction: column;
  }

  .newsletter-form button {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-stats {
    justify-content: center;
  }

  .hero-image img {
    margin: 30px auto 0;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-stats {
    flex-direction: column;
    gap: 14px;
  }
}

/* ===== PRODUCT SECTION MOBILE ===== */
@media (max-width: 900px) {
  .product-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .gallery-box {
    padding: 16px;
  }

  .gallery-main img {
    max-width: 260px;
  }

  .gallery-thumbs {
    grid-template-columns: repeat(4, 1fr);
  }

  .details-box {
    text-align: left;
  }

  .fragrance-options {
    flex-direction: column;
  }

  .fragrance-options label {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .included-box {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 60px 0px;
  }
  .gallery-main img {
    max-width: 220px;
  }
  
  .subscription-card {
    width: 350px;
  } 
  .fragrance-options {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-arrow {
    width: 28px;
    height: 28px;
    font-size: 14px;
  }

  .btn-primary.full {
    font-size: 15px;
    padding: 14px;
  }
}




